@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700) screen, print, handheld;
@import url(//fonts.googleapis.com/css?family=Lato:300,400) screen, print, handheld;
@import url(//fonts.googleapis.com/css?family=Oswald:300,400) screen, print, handheld;

@mixin game-title() {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

@mixin sans() {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

@mixin number-font() {
    font-family: 'Lato', sans-serif;
}

// COLORS:
$green: #6e9005;
$blue: #009abe;
$orange: #ff8c00;
$purple: #9f0083; 
