{% extends "gamestradamus/base.html" %}
{% import 'gamestradamus/numbers.html' as numbers %}

{% block title %}Weekly Game Giveaway{% endblock %}

{% block body_class %}giveaway{% endblock %}
{% block giveaway_nav_class_2 %}active{% endblock %}

{% block header %}
<article class="giveaway">
    <div class="title">
        <h2>The Gauge Powered</h2>
        <h1>Weekly Game Giveaway</h1>
        <p class="instructions">Enter to win a new Steam game every Monday!</p>
        <div class="follow">
            follow&nbsp;
            <a href="https://twitter.com/gaugepowered" title="follow us on twitter" class="twitter social" target="_blank"></a>
            <a href="https://www.facebook.com/gaugepowered" title="like us on facebook" class="facebook social" target="_blank"></a>
        </div>
    </div>
</article>
{% endblock %}

{% block container %}
<article class="giveaway">
    <div class="left">
        <br>
        <br>
        <br>
        <h2>Sorry, The Weekly Game Giveaway is no longer active.</h2>
        <p>We've given away over 100 games!</p> 
        <br>
        <br>
        <br>
    </div>
    <div class="clear"></div>

    {#
    <div class="left">
        <h2>This week's game:</h2>
        <div class="info">
            <a href="/game/{{ game.id }}/" target="_blank" class="thumb" title="View Details">
                <img src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/header_292x136.jpg" width="260" height="121">
            </a>
            <h1>{{ game.name }}</h1>

            <div class="details">
                {% if game.sale_price or game.price %}
                    <p class="price">
                        {% if game.on_sale %}
                            -{{ game.percent_off|round|int }}%&nbsp;<span>|</span>&nbsp;{{ numbers.format_price_with_symbol(region, game.sale_price) }}
                            <del>{{ numbers.format_price_with_symbol(region, game.price) }}</del>
                        {% else %}
                            {{ numbers.format_price_with_symbol(region, game.price) }} 
                        {% endif %}
                    </p>
                {% endif %}
                <a href="/game/{{ game.id }}/" target="_blank" class="steam">View Details</a>
                <div class="clear"></div>

                {% if game.genre %}
                    <p class="genre">
                        <strong>Genre:</strong>&nbsp;{{ game.genre }}
                    </p>
                {% endif %}

                {% if game.release %}
                    <p class="release">
                        <strong>Release:</strong>&nbsp;{{ game.release.strftime("%b %d, %Y") }}

                        {% if game.release < now %}
                            <span>
                                {% set before = (now - game.release) %}
                                {% set years = (before.days / 365)|int %}
                                {% set months = (((before.days - years * 365) % 365) / 30.4)|int %}

                                {% if years > 0 or months > 0 %}
                                    &nbsp; ({% if years > 0 %}{{ years }} year{% if years > 1 %}s{% endif %}{% endif %}{% if years > 0 and months > 0 %}, {% endif %}{% if months > 0 %}{{ months }} month{% if months > 1 %}s{% endif %}{% endif %} ago)
                                {% endif %}
                            </span>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div id="timer">
            <div class="label">Remaining Time:</div>
            <div class="days">
                <div class="count">0</div>
                <div class="label">Days</div>
            </div>
            <div class="separator">:</div>
            <div class="hours">
                <div class="count">00</div>
                <div class="label">Hours</div>
            </div>
            <div class="separator">:</div>
            <div class="minutes">
                <div class="count">00</div>
                <div class="label">Minutes</div>
            </div>
            <div class="separator">:</div>
            <div class="seconds">
                <div class="count">00</div>
                <div class="label">Seconds</div>
            </div>
        </div>
        <h3>Why this game?</h3>
        <p>
            Gauge Powered is great at identifying the best deals on Steam.
            During the last Winter Sale we used Gauge Powered to find
            the best deals of each day and bought multiple copies
            of them. Now we’re giving them away!
        </p>
    </div>
    
    <div class="right">
        <h2>How to Enter:</h2>
        <div class="step">
            <h3><span class="required">!</span> Step 1</h3>
            <a class="steam" href="/auth/openid/begin/steam/?return={{ request.path_info|urlencode }}" title="Sign in through Steam."></a>
            <a class="privacy" href="/faq/">Privacy Questions?</a>
        </div>

        <div class="step">
            <h3><span class="required">!</span> Step 2</h3>
            <p>Add this game to your Watchlist.</p>
        </div>

        <div class="step">
            <h3><span class="required">!</span> Step 3</h3>
            <p>Sign up for Watchlist notifications.</p>
        </div>

        <div class="step">
            <h3><span class="required">!</span> Step 4</h3>
            <p>Rate at least five (5) games in your Library.</p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="giveaway-rules">
        <h3>The rules</h3>
        <ul>
            <li>When the countdown timer reaches zero, we'll pick a winner at random from the eligible entries.</li>
            <li>Winners will be notified by e-mail</li>
            <li>Winners will have two weeks to respond to claim their prize</li>
            <li>Games will be gifted through Steam</li>
            <li>Check back every week for the new contest requirements</li>
            <li>Every week you complete the requirements, you’ll be eligible to win</li>
            <li>Entrants can win once every 6 months</li>
            <li>Gauge Powered is running these contests to reward our community, and to spread the word. When you win, we’ll ask you to share that you ‘Won a game on Gauge Powered’ on your social media of choice. Twitter and Facebook are our faves, but we’re open to suggestions</li>
            <li>Questions can be emailed to
           &nbsp;<a href="mailto:admin@gaugepowered.com">admin@gaugepowered.com</a></li>
        </ul>
    </div>
    #}
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/giveaway", "dojo/domReady!"], function(init) { init(); });
    </script>
{% endblock %}
