{% extends "gamestradamus/base.html" %}

{% block container %}
    <article class="search-results">
        <h1>{{ search.results|length }} Results for "{{ search.query }}"</h1>

        <hr>

        <ul>
        {% for game in search.results %}
            <li>
                <a
                    {% if request.user_account %}
                        href="/profile/game/{{ game.id }}/"
                    {% else %}
                        href="/game/{{ game.id }}/"
                    {% endif %}
                >
                    <img src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/header_292x136.jpg" width="178">
                </a>
                <h3>{{ game.name }}</h3>
                <h4>
                    {% if game.on_sale %}
                        ${{ game.sale_price }}&nbsp;<del>${{ game.price }}</del>
                    {% else %}
                        ${{ game.price }}
                    {% endif %}
                </h4>
                <a class="details" 
                    {% if request.user_account %}
                        href="/profile/game/{{ game.id }}/"
                    {% else %}
                        href="/game/{{ game.id }}/"
                    {% endif %}
                >Details...</a>
            </li>
        {% endfor %}
        </ul>
    </article>
{% endblock %}
