{% extends "gamestradamus/base.html" %}

{% block title %}Become a Supporter{% endblock %}

{% block header %}
    <article class="pay-now">
        <div class="title">
            <h1>Become a Supporter</h1>
            <p class="data"></p>
            <p class="instructions">Show your support for Gauge!</p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="pay-now">
        <form method="POST">
            {% if errors._all %}
                <div class="errors">
                    {% for error in errors._all %}
                        <p>{{ error }}</p>
                    {% endfor %} 
                </div>
            {% endif %}

            {% if amount > 0 %}
                <fieldset>
                    <legend>Credit Card Information</legend>

                    <ul>
                        <li>
                            <label for="name">Name on Card:</label>
                            <input id="name" type="text" name="name" value="{{ values.name }}"
                                {% if errors.name %}class="error"{% endif %}
                            >
                            {% for error in errors.name %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="card-number">Card Number:</label>
                            <input id="card-number" type="text" name="card-number" value="{{ values.get("card-number", "") }}"
                                {% if errors.get("card-number") %}class="error"{% endif %}
                            >
                            <span>no spaces, just numbers.</span>
                            {% for error in errors.get("card-number", []) %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="expiry-month">Expiry Date:</label>
                            <select id="expiry-month" name="expiry-month"
                                {% if errors.get("expiry-month") %}class="error"{% endif %}
                            >
                                <option value="01" {% if values.get("expiry-month") == "01" %}selected="selected"{% endif %}>01</option>
                                <option value="02" {% if values.get("expiry-month") == "02" %}selected="selected"{% endif %}>02</option>
                                <option value="03" {% if values.get("expiry-month") == "03" %}selected="selected"{% endif %}>03</option>
                                <option value="04" {% if values.get("expiry-month") == "04" %}selected="selected"{% endif %}>04</option>
                                <option value="05" {% if values.get("expiry-month") == "05" %}selected="selected"{% endif %}>05</option>
                                <option value="06" {% if values.get("expiry-month") == "06" %}selected="selected"{% endif %}>06</option>
                                <option value="07" {% if values.get("expiry-month") == "07" %}selected="selected"{% endif %}>07</option>
                                <option value="08" {% if values.get("expiry-month") == "08" %}selected="selected"{% endif %}>08</option>
                                <option value="09" {% if values.get("expiry-month") == "09" %}selected="selected"{% endif %}>09</option>
                                <option value="10" {% if values.get("expiry-month") == "10" %}selected="selected"{% endif %}>10</option>
                                <option value="11" {% if values.get("expiry-month") == "11" %}selected="selected"{% endif %}>11</option>
                                <option value="12" {% if values.get("expiry-month") == "12" %}selected="selected"{% endif %}>12</option>
                            </select>
                            <select id="expiry-year" name="expiry-year"
                                {% if errors.get("expiry-year") %}class="error"{% endif %}
                            >
                                <option value="14" {% if values.get("expiry-year") == "14" %}selected="selected"{% endif %}>14</option>
                                <option value="15" {% if values.get("expiry-year") == "15" %}selected="selected"{% endif %}>15</option>
                                <option value="16" {% if values.get("expiry-year") == "16" %}selected="selected"{% endif %}>16</option>
                                <option value="17" {% if values.get("expiry-year") == "17" %}selected="selected"{% endif %}>17</option>
                                <option value="18" {% if values.get("expiry-year") == "18" %}selected="selected"{% endif %}>18</option>
                                <option value="19" {% if values.get("expiry-year") == "19" %}selected="selected"{% endif %}>19</option>
                                <option value="20" {% if values.get("expiry-year") == "20" %}selected="selected"{% endif %}>20</option>
                                <option value="21" {% if values.get("expiry-year") == "21" %}selected="selected"{% endif %}>21</option>
                                <option value="22" {% if values.get("expiry-year") == "22" %}selected="selected"{% endif %}>22</option>
                            </select>
                            {% for error in errors.get("expiry-month", []) %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                            {% for error in errors.get("expiry-year", []) %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="cvv">CVV (Security Code):</label>
                            <input
                                id="cvv"
                                type="text"
                                name="cvv"
                                value="{{ values.cvv }}"
                                {% if errors.cvv %}class="error"{% endif %}
                            >
                            {% for error in errors.cvv %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>Billing Information</legend>
                    
                    <ul>
                        <li>
                            <label for="address">Address:</label>
                            <input id="address" type="text" name="address" value="{{ values.address }}"
                                {% if errors.address %}class="error"{% endif %}
                            >
                            {% for error in errors.address %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="city">City:</label>
                            <input id="city" type="text" name="city" value="{{ values.city }}"
                                {% if errors.city %}class="error"{% endif %}
                            >
                            {% for error in errors.city %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="province">Province / State:</label>
                            <input id="province" type="text" name="province" value="{{ values.province }}"
                                {% if errors.province %}class="error"{% endif %}
                            >
                            {% for error in errors.province %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="country">Country:</label>
                            <input id="country" type="text" name="country" value="{{ values.country }}"
                                {% if errors.country %}class="error"{% endif %}
                            >
                            {% for error in errors.country %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="postal-code">Postal / Zip Code:</label>
                            <input id="postal-code" type="text" name="postal-code" value="{{ values.get("postal-code", "") }}"
                                {% if errors.get("postal-code") %}class="error"{% endif %}
                            >
                            {% for error in errors.get("postal-code", []) %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                        <li>
                            <label for="e-mail">E-Mail Address:</label>
                            <input id="e-mail" type="text" name="e-mail" value="{{ values.get("e-mail", "") }}"
                                {% if errors.get("e-mail") %}class="error"{% endif %}
                            >
                            {% for error in errors.get("e-mail", []) %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>

                    </ul>
                </fieldset>
                <fieldset>
                    <div class="legal">
                        <input id="legal" type="checkbox" name="legal">
                        <label for="legal">
                            I agree to the&nbsp;
                                <a href="/terms-of-service/" target="_blank">Terms of Service</a>,<br>
                                <a href="/terms-of-service/#refunds" target="_blank">Refund Policy</a>,&nbsp;and&nbsp;
                                <a href="/privacy-policy/" target="_blank">Privacy Policy</a> 
                        </label>
                        {% for error in errors.get("legal", []) %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <hr>

                    <div class="confirm">
                        <input id="process-payment" type="submit" value="Process Payment" name="submit">
                        <a id="cancel-payment" href="/payment/crowdfunding/#levels">Cancel</a>
                    </div>
    
                    <hr>

                    <div class="secured">
                        <div id="HelcimClick">
                            <a target="_blank" href="https://www.helcim.com/"><img border="0" src="https://gateway.helcim.com/hosted/Helcim-PaymentsBy01.png"></a>
                        </div>
                        <div id="DigiCertClickID_BzWt4vIz" data-language="en_US">
                            <a href="http://www.digicert.com/ssl-certificate.htm">SSL</a>
                        </div>
                    </div>
                </fieldset>
            {% else %}
                <fieldset>
                    <legend>Contact Information</legend>
                    <ul>
                        <li>
                            <label for="e-mail">E-Mail Address:</label>
                            <input id="e-mail" type="text" name="e-mail" value="{{ values.get("e-mail", "") }}"
                                {% if errors.get("e-mail") %}class="error"{% endif %}
                            >
                            {% for error in errors.get("e-mail", []) %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </li>
                    </ul>

                    <hr>

                    <input id="process-payment" type="submit" value="Become a Supporter" name="submit">
                    <a id="cancel-payment" href="/payment/crowdfunding/#levels">Cancel</a>
                </fieldset>
            {% endif %}
        </form>

        <div class="details option-{{ option }}">
            {% if option == 1 %}
                <span class="price"><em>$</em><span>0</span></span>
                <div class="included">
                    <h3>What you get:</h3>
                    <p>30 day free trial to new features.</p>
                </div>
            {% elif option == 2 %}
                <span class="price"><em>$</em><span>5</span></span>
                <div class="included">
                    <h3>What you get:</h3>
                    <p>1 year subscription to new features.</p>
                </div>
            {% elif option == 3 %}
                <span class="price"><em>$</em><span>20</span></span>
                <div class="included">
                    <h3>What you get:</h3>
                    <p>
                        1 year subscription to new features.
                        <br>+ our endless gratitude.
                    </p> 
                </div>
            {% endif %}
        </div>
    </article>
{% endblock %}

{% block scripts %}

{{ super() }}
<script type="text/javascript">
    require(["dojo/query", "dojo/_base/event"], function(query, event) { 
        query('form').on('submit', function(evt) {
            if (evt.currentTarget.getAttribute('data-disabled') === "disabled") {
                event.stop(evt);
                return;
            }
            evt.currentTarget.setAttribute('data-disabled', 'disabled');
        });
    });
</script>
<script type="text/javascript">
    var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_BzWt4vIz", "11", "m", "white", "BzWt4vIz"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>

{% endblock %}
