{% extends "gamestradamus/base.html" %}

{% block title %}Your Predictions{% endblock %}

{% block prediction_nav_class %}active{% endblock %}

{% block header %}
    <article class="predictions">
        <div class="title">
            <h1>Your Predictions</h1>
            <p class="action">
                <span id="last-updated-wrapper" class="{% if user_attrs.predictions_updating %}hidden{% endif %}">
                    Last updated:&nbsp;<span id="last-updated" data-last-updated="{{ last_updated }}"></span>

                    {% if allow_update %}
                        <span class="update-predictions">
                            &mdash;&nbsp;<a id="update-predictions" href="#">(update)</a>
                        </span>
                    {% endif %}
                </span>
                <img id="update-predictions-loader" class="{% if not user_attrs.predictions_updating %}hidden{% endif %}" src="/images/loader.gif">
            </p>
            <p class="instructions">
                Based on players with similar play history, these games are predicted to give you great value.
            </p> 
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="predictions">
        {% if value_predictions or playtime_predictions %}
            <div class="left-column">
                <h2>Games with the&nbsp;<span>best dollar per hour</span>:</h2>

                <ul class="prediction-list">
                    {% for prediction, game, closest in value_predictions %}
                    {% if not game.predictable_cost or (not game.price and not game.sale_price) %}
                        {% continue %}
                    {% endif %}

                    {% if not game.on_sale or user_attrs.premium_account %}
                        <li>
                        <a
                            {% for name, cost_per_hour in closest %}
                                data-closest-game-name-{{ loop.index }}="{{ name }}"
                                data-closest-game-value-{{ loop.index }}="{% if cost_per_hour > 0.99 %}${{ "%.2f"|format(cost_per_hour) }} / hr{% else %}{{ (cost_per_hour * 100)|round|int }}¢ / hr{% endif %}"
                            {% else %}
                                data-need-more-data="true"
                            {% endfor %}
                            href="/profile/{{ request.user_account.id }}/game/{{ game.id }}/">
                                <img src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/header_292x136.jpg" width="178" height="83">
                                {% if game.on_sale %}
                                    <div class="on-sale-overlay">&nbsp;</div>
                                {% endif %}
                                <p class="cph">
                                    {% if game.on_sale %}
                                        {% set price = game.sale_price|default(0, True) %}
                                    {% else %}
                                        {% set price = game.price|default(0, True) %}
                                    {% endif %} 

                                    {% set value = (price / prediction.hours_played)|round(2) %}

                                    {% if value > 0.99 %}
                                        {{ "%.2f"|format(value) }}<span>$ / hr</span>
                                    {% else %}
                                        {{ (value * 100)|round|int }}<span>¢ / hr</span>
                                    {% endif %}
                                </p>
                                <h3>{{ game.name }}</h3>
                                <h4>
                                    {% if game.on_sale %}
                                        ${{ game.sale_price }}<del>${{ game.price }}</del>
                                    {% else %}
                                    ${{ game.price }}
                                    {% endif %}
                                </h4>
                                <h5>{{ "%.1f"|format(prediction.hours_played|default(0.0, True)) }} hours {% if game.genre %}| {{ game.genre }}{% endif %}</h5>
                                <div class="clear"></div>
                            </a>
                        </li>
                    {% else %}
                        <li class="pay-wall">
                            <a href="/profile/{{ request.user_account.id }}/premium/">
                                <div class="inner">
                                    <img src="/images/paywall-prediction-{{ [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|random }}.png" height="85">
                                    <div class="on-sale-overlay">&nbsp;</div>
                                    <p class="cph">
                                        {% if game.on_sale %}
                                            {% set price = game.sale_price %}
                                        {% else %}
                                            {% set price = game.price %}
                                        {% endif %}

                                        {% set value = (price / prediction.hours_played)|round(2) %}

                                        {% if value > 0.99 %}
                                            {{ "%.2f"|format(value) }}<span>$ / hr</span> 
                                        {% else %}
                                            {{ (value * 100)|round|int }}<span>¢ / hr</span>
                                        {% endif %}
                                    </p>
                                    <div class="clear"></div>
                                </div>
                                <div class="premium-overlay">Upgrade to Premium</div>
                            </a>
                        </li> 
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="right-column">
                <h2>Games with the&nbsp;<span>longest play time</span>:</h2>

                <ul class="prediction-list">
                    {% for prediction, game, closest in playtime_predictions %}
                    {% if not game.on_sale or user_attrs.premium_account %}
                        <li>
                            <a
                                {% for name, hours_played in closest %}
                                    data-closest-game-name-{{ loop.index }}="{{ name }}"
                                    data-closest-game-hours-{{ loop.index }}="{{ "%.1f"|format(hours_played) }} hours"
                                {% else %}
                                    data-need-more-data="true"
                                {% endfor %}
                                href="/profile/{{ request.user_account.id }}/game/{{ game.id }}/">
                                <img src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/header_292x136.jpg" width="178" height="83">
                                {% if game.on_sale %}
                                    <div class="on-sale-overlay">&nbsp;</div>
                                {% endif %}
                                <p class="cph">
                                    {{ prediction.hours_played|default(0, True)|round|int }}
                                    <span>hours</span>
                                </p>
                                <h3>{{ game.name }}</h3>

                                {% if game.sale_price or game.price %}
                                <h4>
                                    {% if game.on_sale %}
                                        ${{ game.sale_price }}&nbsp;<del>${{ game.price }}</del>
                                    {% else %}
                                        ${{ game.price }}
                                    {% endif %}
                                </h4>
                                {% endif %}

                                <h5>
                                    {% set pipe = joiner("|") %}
                                    {% if (game.sale_price or game.price) and game.predictable_cost %}
                                        {{ pipe() }}
                                        {% if game.on_sale %}
                                            {% set price = game.sale_price|default(0, True) %}
                                        {% else %}
                                            {% set price = game.price|default(0, True) %}
                                        {% endif %}

                                        {% set value = (price / prediction.hours_played)|round(2) %}
                                        {% if value > 0.99 %}
                                            ${{ "%.2f"|format(value) }} / hr
                                        {% else %}
                                            {{ (value * 100)|round|int }}¢ / hr
                                        {% endif %}
                                    {% endif %}

                                    {% if game.genre %}
                                        {{ pipe() }}
                                        {{ game.genre }}
                                    {% endif %}
                                </h5>
                                <div class="clear"></div>
                            </a>
                        </li>
                    {% else %}
                        <li class="pay-wall"> 
                            <a href="/profile/{{ request.user_account.id }}/premium/">
                                <div class="inner">
                                    <img src="/images/paywall-prediction-{{ [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|random }}.png" height="85">
                                    <div class="on-sale-overlay">&nbsp;</div>
                                    <p class="cph">
                                        {{ prediction.hours_played|default(0, True)|round|int }}
                                        <span>hours</span>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                                <div class="premium-overlay">Upgrade to Premium</div>
                            </a>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {% if not user_attrs.premium_account %}
                <div class="register">
                    <h2>Want to see more?</h2>
                    <a href="/profile/{{ request.user_account.id }}/premium/">Upgrade to Premium</a>
                </div>
            {% endif %}
        {% endif %}
        <div class="clear"></div>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/predictions"], function(init) { init(); });
    </script>
{% endblock %}
